{
    "bootstrapped": true,
    "ensure_newline_at_eof_on_save": true,
    "in_process_packages": [],
    "installed_packages": [
        "Icon Fonts",
        "Package Control",
        "Phpcs",
        "SideBarEnhancements",
        "SublimeLinter-phpcs",
        "Theme - Eightlime",
        "Vue Syntax Highlight",
        "VueFormatter",
        "Vuejs Snippets"
    ],
    "phpcs_additional_args": {
        "--standard": "Framgia",
        "-n": ""
    },
    "phpcs_executable_path": "/home/framgia/.composer/vendor/bin",
    "tab_size": 4,
    "translate_tabs_to_spaces": true,
    "trim_trailing_white_space_on_save": true
}
